.rxList {
  padding: 2rem;
}

.rxList ul.nav {
  margin-bottom: 1rem;
}

.fa-pill{
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=.5);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fa-pill:before {
  content: "\f205";
}
.rxList h4 {
}
.rxList img.pill-bottle {
  height: 48px;
  width: 48px;
  /* margin-top: -15px; */
}
